<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>my test page</title>
      <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
      
      
  </head>
  <body>
    <!-- HEADER -->
    <div class="bg-green-300 px-3 py-1">
      <h2 class="text-3xl font-light text-white m-0">Beans Love Beers</h2>
    </div>
    

    <!-- SEARCH BAR -->
    <div class="container">
      <input type="text" placeholder="Search for beer..."
        class="border-2 ml-64 border-gray-700 w-2/5 mt-10 py-3 px-4"></input>
      <button class="bg-blue-700 text-xl hover:bg-blue-500 text-white py-2 px-3">Search</button>
    </div>


    <!-- TEST HOVER AUDIO -->
    <div class="hoverElement border-2 border-green-500" data-audio-url="https://p.scdn.co/mp3-preview/4d9bde799eec8913e53c184c45b9fd575690b917?cid=9688e06282ff4043a95d46dee1f7467d">
      <audio></audio>
      <!-- Content for the first hover element -->
      <p>hover on me for 1st song</p>
    </div>
    
    <div class="hoverElement border-2 border-green-500" data-audio-url="https://p.scdn.co/mp3-preview/337c8d45ac66899bc2db9ef3ed9438fe1d035ab1?cid=9688e06282ff4043a95d46dee1f7467d">
      <audio></audio>
      <!-- Content for the second hover element -->
      <p>hover on me for 2nd song</p>
    </div>

    <!-- GRID OF CARDS -->
    <div class="container">
      <div class="grid gap-8 grid-cols-3 mt-5 pl-5">
        <card-component></card-component>
        <card-component></card-component>
        <card-component></card-component>
        <card-component></card-component>
        <card-component></card-component>
        <card-component></card-component>
      </div>
    </div>




    <h1>Dynamic View Selection</h1>
    <h2>originally, there are 4 blahs</h2>

    <div>
      <button id="button1" class="border-2 border-blue-500">change to 5 bruhs</button>
      <button id="button2" class="border-2 border-blue-500">change to 6 dawgs</button>
    </div>

    <div id="mainContent" class="grid gap-8 grid-cols-3 mt-5 pl-5 pr-5 border-2 border-red-500">
      {% for item in items %}
      <div class="border-2 border-purple-500">
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
      </div>
      {% endfor %}
    </div>
  
    <template id="tile-template">
      <div class="border-2 border-purple-500">
        <h3>{{ title }}</h3>
        <p>{{ description }}</p>
      </div>
    </template>
  
    

    <script>
      var items1 = [{% for item in items1 %} {
        title: "{{ item.title }}",
        description: "{{ item.description }}"
      }, {% endfor %}];
    
      var items2 = [{% for item in items2 %} {
        title: "{{ item.title }}",
        description: "{{ item.description }}"
      }, {% endfor %}];
    </script>
    <script src="{{ url_for('static', filename='src/changeCardContent.js') }}"></script>
    <script src="{{ url_for('static', filename='components/card.js') }}"></script>

    <script src="{{ url_for('static', filename='src/playOnHover.js') }}"></script>
    <script src="{{ url_for('static', filename='components/Card.js') }}"></script>

  </body>
</html>