<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sequential Audio Player</title>
</head>
<body>

    <h1>Sequential Audio Player</h1>

    <button id="playButton">Play All</button>
    <button id="pauseButton">Pause</button>
    <button id="resumeButton">Resume</button>
    <button id="skipButton">Skip</button>

    <ul id="audioList">
        <li><audio src="../static/cropped-audio-samples/1.mp3" controls></audio></li>
        <li><audio src="../static/cropped-audio-samples/2.mp3" controls></audio></li>
        <li><audio src="../static/cropped-audio-samples/3.mp3" controls></audio></li>
        <li><audio src="../static/cropped-audio-samples/4.mp3" controls></audio></li>
        <li><audio src="../static/cropped-audio-samples/5.mp3" controls></audio></li>
        <li><audio src="../static/cropped-audio-samples/6.mp3" controls></audio></li>
    </ul>

    <script src="{{ url_for('static', filename='src/playSequential.js') }}" ></script>
</body>
</html>
