<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test page for dynamic view selection</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/output.css')}}"
    />
    <script src="{{ url_for('static', filename='components/card.js') }}"></script>
  </head>
  <body>
    <h1>Dynamic View Selection</h1>

    <div>
      <button id="button1" class="border-2 border-blue-500">Button 1</button>
      <button id="button2" class="border-2 border-blue-500">Button 2</button>
    </div>

    <div id="mainContent" class="grid gap-8 grid-cols-3 mt-5 pl-5 pr-5 border-2 border-red-500">
      {% for item in items %}
      <div class="border-2 border-purple-500">
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
      </div>
      {% endfor %}
    </div>
  
    <template id="tile-template">
      <div class="border-2 border-purple-500">
        <h3>{{ title }}</h3>
        <p>{{ description }}</p>
      </div>
    </template>
  
    <script>
      var button1 = document.getElementById("button1");
      var button2 = document.getElementById("button2");
      var mainContent = document.getElementById("mainContent");
      var tileTemplate = document.getElementById("tile-template").content;
  
      button1.addEventListener("click", function() {
        mainContent.innerHTML = "";
        {% for item in items1 %}
          var tileClone = tileTemplate.cloneNode(true);
          tileClone.querySelector("h3").textContent = "{{ item.title }}";
          tileClone.querySelector("p").textContent = "{{ item.description }}";
          mainContent.appendChild(tileClone);
        {% endfor %}
      });
  
      button2.addEventListener("click", function() {
        mainContent.innerHTML = "";
        {% for item in items2 %}
          var tileClone = tileTemplate.cloneNode(true);
          tileClone.querySelector("h3").textContent = "{{ item.title }}";
          tileClone.querySelector("p").textContent = "{{ item.description }}";
          mainContent.appendChild(tileClone);
        {% endfor %}
      });
    </script>

  </body>
</html>
